@import 'tailwindcss';

@utility gray-copy {
	& [data-icon='copy'] {
		color: #aaa;
	}
}

@layer components {
	.input-uppercase {
		input:not(:placeholder-shown) {
			text-transform: uppercase;
		}
	}

	.modal-title {
		@apply mt-2.5 text-[#aaa];
	}

	.modal-text {
		@apply gray-copy m-0;
	}

	.loading {
		@apply flex h-full w-full flex-col items-center justify-center;
	}

	.icon-image {
		@apply w-full flex-1 overflow-hidden;
	}

	.icon {
		@apply box-border flex cursor-pointer flex-col items-center gap-[5px] overflow-hidden rounded pt-[5px] transition-transform duration-200 select-none;
	}

	.social-icon {
		.ant-float-btn-icon {
			@apply w-(--social-icon-width)!;
		}
	}

	.social-reverse {
		.ant-float-btn-group-wrap {
			@apply flex-col-reverse;
		}
	}

	.icon-title {
		@apply px-0.5 text-center text-xs leading-[1.2] wrap-break-word;
	}

	.icon-color {
		@apply w-full text-center text-xs text-black;
	}

	.control {
		@apply flex h-8 w-8 cursor-pointer items-center justify-center rounded-md p-[5px] text-2xl text-(--si-header-fg) hover:bg-black/6;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family:
		apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
		Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

div[data-testid='virtuoso-scroller'] {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

div[data-testid='virtuoso-scroller']::-webkit-scrollbar {
	display: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.virtuoso-grid-item:last-child {
	margin-bottom: 8px;
}

:root {
	--si-header-fg: #111;
	--si-header-bg: #fff;
	--si-gallery-fg: #000;
	--si-gallery-bg: #fff;
	--si-card-fg: #333;
	--si-card-bg: #fff;
	--si-empty-fg: #00000073;
	--si-contrast: contrast(0.65);

	--si-header-fg-dark: #eee;
	--si-header-bg-dark: #111;
	--si-gallery-bg-dark: #2c2c2c;
	--si-gallery-fg-dark: #d9d9d9;
	--si-card-fg-dark: #fff;
	--si-card-bg-dark: #333;
	--si-empty-fg-dark: #ffffff73;
	--si-contrast-dark: contrast(0.65) brightness(2);
}

.ant-layout {
	transition: background 0.4s;
}

.ant-dropdown-menu {
	max-height: calc(100vh - 60px);
}
